@charset "utf-8";
/* CSS Document */
body {background:#fff;font-family: 'Raleway', sans-serif;font-size:14px; color:#333333; font-weight:400;}
p{line-height:28px;font-size:14px;font-weight:400;color:#333333;}
h1, h2 {font-size:30px;font-weight:700;}
.cread_more {background: #009587; color: #ffffff}
.cread_more:hover {background: #333; color: #ffffff; text-decoration:none;}
/*header*/
.cheader_top {background:#333333;color:#fff;padding-top:10px; padding-bottom:10px;}
.cheader_top ul {margin:0;padding:0;}
.cheader_top li {color:#fff;display:inline-block;font-size:14px;margin-right:35px; }
.cheader_top li a {color:#fff;font-family: 'Raleway', sans-serif;font-weight:400;padding-left:10px;}
.cheader_top li:hover, .cheader_top li:hover a{text-decoration:none;color:#009587;}
.cheader_top li:nth-child(4) {float:right;margin-right: 0px;}
.cheader_top .cheader_cont_social li:nth-child(1)::before {content: "\f098";}
.cheader_top .cheader_cont_social li:nth-child(2)::before {content: "\f099";}
.cheader_top .cheader_cont_social li:nth-child(3)::before {content: "\f09a";}
.cheader_top .cheader_cont_social li:nth-child(4)::before {content: "\f007";}
.cheader {background:#009587;border-bottom:5px solid #fff; vertical-align:middle;padding-top:0px;padding-bottom:0px;}
.cheader .cnav_container nav.navbar {float:right;background-color:inherit;border:none;margin-bottom: 0;}
.cheader .cnav_container nav.navbar .container-fluid, .cheader .cnav_container nav.navbar .navbar-collapse{padding: 0px;}
.cheader .cnav_container .navbar-default .navbar-nav>li>a {color:#fff;padding-top:30px;padding-bottom:30px; padding-left:25px; padding-right:25px;}
.cheader .cnav_container .navbar-default .navbar-nav>li>a.active{background:#333;}
.cheader .cnav_container .navbar-default .navbar-nav>li>a:hover, .cnav_container .navbar-default .navbar-nav>.open>a {background:#333;color:#fff;}
.cheader .clogo{padding-top: 10px;}
/*home services*/
.cabout_services {padding-top:95px;padding-bottom:102px; background:url(../images/break.png) no-repeat bottom center;}
.cabout_services .sc_cabout_container {text-align:center;margin-bottom:60px;}
.cabout_services .sc_cabout_container h1 {margin:0; margin-bottom:40px;}
.cabout_services .sc_cabout_container p {font-size:14px; font-weight:400;margin:0;}
.cabout_services .sc_cservice_container .cservice .cservice_inner{padding:20px 10px;background:#f2f2f2;text-align:center;}
.cabout_services .sc_cservice_container .cservice .cservice_inner h3 {font-size:16px;font-weight:700;}
.cabout_services .sc_cservice_container .cservice .cservice_inner p {font-size:14px;}
/*banner*/
.ccarousel_container .carousel-inner {max-height: 500px;}
.ccarousel_container .carousel-inner .item img {width:100%;}
.ccarousel_container .carousel-caption {bottom:inherit;top:15%;text-align:left;color:#fff;}
.ccarousel_container .carousel-caption h2 {font-size:50px;text-transform:uppercase;text-shadow:none;}
.ccarousel_container .carousel-caption p{color:#fff; text-shadow:none;font-size:20px; width:500px;}
/*testimonials*/
.ctestimonials_container {padding-top:95px;padding-bottom:135px; background:url(../images/break.png) no-repeat bottom center;}
.ctestimonials_container h2 {margin:0; margin-bottom:40px;text-align:center;}
.ctestimonials_container .ctestimonial p.sclienttestimonial {font-size:14px;text-align:center;margin-bottom:40px;}
.ctestimonials_container .ctestimonial p span {font-size:14px;text-align:center;color:#009587;display:block;font-weight:700;font-style:italic;}
.ctestimonials_container .carousel-indicators {bottom: -40px;}
.ctestimonials_container .carousel-indicators li{background-color: #009587;border:1px solid #009587;}
.ctestimonials_container .carousel-indicators .active{border:1px solid #009587;background:none;}
/*our brands*/
.courbrands_container {padding-top:95px;padding-bottom:95px;}
.courbrands_container .courbrand_logo {background:#f2f2f2;}
.courbrands_container h2 {margin:0; margin-bottom:40px;text-align:center;}
.courbrands_container .courbrand_logo img {margin:0 auto;}
/*subscribe*/
.csubsribe_wrapper{background:#333;color:#fff;padding-top:40px;padding-bottom:40px;}
.csubsribe_wrapper .csubscribe_inner .csubscribe_text{font-size:24px;font-weight:500;float:left;display:block; margin-right:20px;line-height:45px;}
.csubsribe_wrapper .csubscribe_col .csubscribefield{width:450px;height:45px; padding-left:15px; padding-right:15px;border:none;float:left;color:#333;}
.csubsribe_wrapper .csubscribe_col .csubscribe_submit{float:left;height:45px; padding-left:15px; padding-right:15px;border:none;color:#fff;background:#009587;}
.csubsribe_wrapper .csubscribe_col .csubscribe_submit:hover{background:#028276;}
/*footer*/
.cfooter_link {background:#009587;color:#fff;padding-top:45px;padding-bottom:45px;}
.cfooter_link h3{color:#fff;font-size:16px;font-weight:700;margin:0;padding:0;margin-bottom:25px;}
.cfooter_link ul {margin:0;padding:0;}
.cfooter_link ul li {display:list-item; list-style:none;color:#fff;font-size:14px;font-weight:400;line-height:28px;}
.cfooter_link ul li a {color:#fff;}
.cfooter_link ul li a:hover {color:#333;text-decoration:none;}
/*copyright*/
.ccopyright{background:#028276;color:#00d5c1;padding-top:25px;padding-bottom:25px;font-size:14px;}
.ccopyright a{color:#00d5c1;}
/*innerpage*/
.cchecklist {margin:0; padding:0;}
.cchecklist li {display:list-item; position:relative;list-style:none; padding-left:25px; line-height:28px; font-size:14px;}
.cchecklist li::before {content: "\f00c";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit; color:#009587; font-size: 16px; padding-right: 0.5em; position: absolute; top: 0;left: 0;}
.cmid_content_container {margin-bottom:95px;margin-top:85px;}
.cmid_content_container h2 {font-size:24px;color:#009587; font-weight:600;}
.cmid_content_container h2:first-child{margin-top:0px;}
.cmid_content_container p {font-size:14px;}
.cinner_banner {background-size:100%!important; min-height:345px; color:#fff; padding-top:50px; padding-bottom:50px;}
.cinner_banner h1 {font-size:35px;font-weight:700;}
.cinner_banner h2 {font-size:20px;font-weight:400; max-width:520px; line-height:28px;min-height: 90px;}
.cinner_banner .breadcrumb {background-color:inherit;color:#009587;padding-left:0px;margin-top:45px;}
.cinner_banner .breadcrumb li{color:#009587;}
.cinner_banner .breadcrumb li a {color:#fff;}
.cform .cform-field {margin-top:20px;}
.cform .cform-field label{color:#009587; font-size:14px; font-weight:400; margin-bottom:10px;}
.cform .cform-field input[type=text], .cform .cform-field input[type=tel], .cform .cform-field input[type=password], .cform .cform-field textarea[type=text] {background:#f2f2f2; border-radius:0px; border:none; min-height:45px;}
.cform .cform-field textarea[type=text] {min-height:150px;}
.cform .cform-field input[type=submit] {background:#009587; color:#ffffff;}
.cform .cform-field input[type=submit]:hover {background:#333; color:#ffffff;}
/*about us*/
.cabout_banner {background:url(../images/banner/about_us.jpg) no-repeat top left;}
/*servces*/
.listing_section {text-align:center; margin-top:30px;}
.listing_section h3 {font-size:16px; font-weight:700;}
.listing_section p.text_wrapper {font-size:14px; font-weight:400;height: 85px; overflow: hidden;}
.clisting .clisting_inner {background:#f2f2f2; padding:20px 15px; margin-top:15px; margin-bottom:15px;}
.cquestion_tabs .panel-group .panel .panel-heading {background-color:#f2f2f2;color:#333;font-size:16px;font-weight:500;}
.cquestion_tabs .panel-group .panel:nth-child(odd) .panel-heading {background-color:#009587;color:#fff;}
.cquestion_tabs .panel-group .panel .panel-heading .panel-title a:hover, .cquestion_tabs .panel-group .panel .panel-heading .panel-title a:focus {text-decoration:none;}
/*contact us*/
.ccontact_banner {background:url(../images/banner/contact-us.jpg) no-repeat top left;}
.ccontactdetail h4 {margin-top:30px;color:#009587; font-size:16px; font-weight:700; text-transform:uppercase;margin-bottom:0px;}
